extends template-pug/layout
//- не забыть про отступ
block head
  - var pageTitle = 'Студия Пилатеса';
block header

block content
  - var menu = ["О пилатесе", "Расписание и стоимость", "Как прохоят занятия", "Отзывы", "Контакты"]
  meta(name='author' content='Студия Пилатеса')

  main(id='full-page')
    section.section(data-tooltip="")
      .container
        +b.HEADER.header
          +logo()
          +e.BUTTON.nav-toggler
            +vis-hid("Открыть меню")
            svg.svg-icon.toggler-icon(width="25" height="18" focusable="false" aria-hidden="true")
              use(xlink:href='symbol-svg/svg-symbols.svg#toggler-icon')

          +e.A.tel(href="tel:+79183650607") +7 918 365 06 07

        +b.description
          +e.H1.title Студия <br/> Пилатеса
          +e.P.slogan Твоё здоровое тело через 10 занятий
          +e.A.to-see-schedule(href="#screen3") Смотреть расписание

        +b.PICTURE.girls
          source(media="(min-width: 1366px)", srcset="images/girl-desktop.png")
          source(media="(min-width: 764px)", srcset="images/girl-tablet.png")
          +e.IMG.img(src="images/girl.png" alt="Девушка")

      +b.NAV.nav
        +e.BUTTON.close(aria-label="Закрыть меню")
        +b.UL.main-menu
          each text, index in menu
            +e.LI.item
              +e.A.link(href='#screen'+(index+2) title=text)= text

    +b#screen2.SECTION.section(data-tooltip=menu[0])
      .container
        +title-section(menu[0])
        include components/sections/section-2


    +b#screen3.SECTION.section(data-tooltip=menu[1])
      .container
        +title-section(menu[1])
        include components/sections/section-2

    +b#screen4.SECTION.section.fp-auto-height(data-tooltip=menu[2])
      .container
        +title-section(menu[2])
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum excepturi ea a sint nulla, tenetur iusto fugit provident natus ipsa maiores, consequuntur soluta quis cumque omnis tempora. Officia, modi aliquam.Quae quas soluta et alias quibusdam cupiditate tempore hic neque modi? Eaque officia incidunt maxime, laudantium ullam iure, aperiam molestias earum, voluptas accusamus alias? Atque cum ipsa quaerat maiores dolore.Provident exercitationem aliquid animi temporibus officia, tenetur dicta obcaecati iste perferendis qui velit. Quas nemo sequi veniam sit molestiae ducimus iusto! Corporis voluptas quia doloremque perferendis accusantium aliquam nisi fugiat.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum excepturi ea a sint nulla, tenetur iusto fugit provident natus ipsa maiores, consequuntur soluta quis cumque omnis tempora. Officia, modi aliquam.Quae quas soluta et alias quibusdam cupiditate tempore hic neque modi? Eaque officia incidunt maxime, laudantium ullam iure, aperiam molestias earum, voluptas accusamus alias? Atque cum ipsa quaerat maiores dolore.Provident exercitationem aliquid animi temporibus officia, tenetur dicta obcaecati iste perferendis qui velit. Quas nemo sequi veniam sit molestiae ducimus iusto! Corporis voluptas quia doloremque perferendis accusantium aliquam nisi fugiat.
    +b#screen5.SECTION.section(data-tooltip=menu[3])
      .container
        +title-section(menu[3])
        include components/sections/section-5

    +b#screen6.SECTION.section(data-tooltip=menu[4])
      .container
        +title-section(menu[4])
        include components/sections/section-6
      include components/map
      block footer
        include template-pug/footer

block footer
